/*----------------------------------------
Costom Style by Muhammad Tison : Monoplustudio
----------------------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    line-height: 26px;
    overflow-x: hidden;
    color: #637282;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 10px;
    line-height: 24px;
    font-weight: 700;
}

h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    display: block;
}

h1 {
    font-size: 38px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
}

h6 {
    font-size: 16px;
}

a {
    text-decoration: none;
    transition: all 0.4s ease;
}

a:hover {
    color: #1968e0;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    font-weight: 300;
}

hr.hr {
    margin: 50px 0;
    opacity: 0.75;
}

.warpper {
    width: 100%;
    height: 100%;
}


.bg-blue {
    background-color: #4582ff;
}

.bg-color {
    background-color: #f6fafe;
}

.bg-color-1 {
    background-color: #04d2c8;
}

.bg-color-2 {
    background-color: #fb9702;
}

.bg-color-3 {
    background-color: #45417e;
}

.color-1 {
    color: #4582ff;
}

.color-2 {
    color: #04d2c8;
}

.color-3 {
    color: #fe9801;
}

.btn-color-2 {
    background-color: #04d2c8;
    color: #fff;

}

.btn-color-3 {
    background-color: #fb9702;
    color: #fff;
}

.btn-white {
    background-color: #fff;
    color: #4582ff;
}

.btn-border {
    color: #637282;
    border: 1px solid #eee;
    background-color: #eee;
}

.btn-border:hover {
    color: #637282;
}

.btn-color-2:hover,
.btn-color-3:hover {
    color: #fff;
}

.bg-white {
    background-color: #fff;
}

/*-------margins padding--------*/

.mg-tp-20 {
    margin-top: 20px;
}

.mg-tp-30 {
    margin-top: 30px;
}

.mg-tp-40 {
    margin-top: 40px;
}

.mg-tp-80 {
    margin-top: 80px;
}

.mg-bt-20 {
    margin-bottom: 20px;
}

.mg-bt-30 {
    margin-bottom: 30px;
}

.mg-bt-40 {
    margin-bottom: 40px;
}

.mg-bt-60 {
    margin-bottom: 60px;
}

.mg-tp-60 {
    margin-top: 60px;
}

.pd-bt-40 {
    padding-bottom: 40px;
}

.pd-bt-60 {
    padding-bottom: 60px;
}

.pd-bt-80 {
    padding-bottom: 80px;
}

.pd-bt-120 {
    padding-bottom: 120px;
}

.pd-bt-150 {
    padding-bottom: 150px;
}

.pd-bt-200 {
    padding-bottom: 200px;
}

.pd-tp-20 {
    padding-top: 20px;
}

.pd-tp-30 {
    padding-top: 30px;
}

.pd-tp-50 {
    padding-top: 50px;
}

.pd-tp-40 {
    padding-top: 40px;
}

.pd-tp-60 {
    padding-top: 60px;
}

.pd-tp-80 {
    padding-top: 80px;
}

.padd-40 {
    padding-top: 40px;
    padding-bottom: 40px
}

.padd-80 {
    padding-top: 80px;
    padding-bottom: 80px
}

.padd-100 {
    padding-top: 100px;
    padding-bottom: 100px
}

.padd-150 {
    padding-top: 150px;
    padding-bottom: 150px
}

.padd-bt-0 {
    padding-bottom: 0 !important;
}

.padd-title {
    padding-top: 250px;
    padding-bottom: 200px;
}

.padd-0 {
    padding-left: 0;
    padding-right: 0;
}

.full-width {
    width: 100%;
}

/*----------------------------------------
Buttons
----------------------------------------*/


.btn {
    padding: 10px 24px !important;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
}
.btn-blue {
    background-color: #3e59ff;
    color: #fff;
}
.btn-blue:hover {
    background-color: #2f4cff;
    color: #fff;
}
.btn-putih {
    background-color: #fff;
    color: #575757;
}
.btn-putih:hover {
    background-color: #fff;
    color: #575757;
}

/*----------------------------------------
Preloader page
----------------------------------------*/

#loading {
    background-color: #3e59ff;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9999;
    margin-top: 0px;
    top: 0px;
}

#loading-center {
    width: 100%;
    height: 100%;
    position: relative;
}

#loading-center-absolute {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    -webkit-animation: loading-center-absolute 1s infinite;
    animation: loading-center-absolute 1s infinite;

}

.object {
    width: 20px;
    height: 20px;
    background-color: #FFF;
    float: left;
    -moz-border-radius: 50% 50% 50% 50%;
    -webkit-border-radius: 50% 50% 50% 50%;
    border-radius: 50% 50% 50% 50%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.object:nth-child(2n+0) {
    margin-right: 0px;

}

#object_one {
    -webkit-animation: object_one 1s infinite;
    animation: object_one 1s infinite;
}

#object_two {
    -webkit-animation: object_two 1s infinite;
    animation: object_two 1s infinite;
}

#object_three {
    -webkit-animation: object_three 1s infinite;
    animation: object_three 1s infinite;
}

#object_four {
    -webkit-animation: object_four 1s infinite;
    animation: object_four 1s infinite;
}

@-webkit-keyframes loading-center-absolute {
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

}

@keyframes loading-center-absolute {
    100% {
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}




@-webkit-keyframes object_one {
    50% {
        -ms-transform: translate(20px, 20px);
        -webkit-transform: translate(20px, 20px);
        transform: translate(20px, 20px);
    }
}

@keyframes object_one {
    50% {
        -ms-transform: translate(20px, 20px);
        -webkit-transform: translate(20px, 20px);
        transform: translate(20px, 20px);
    }
}


@-webkit-keyframes object_two {
    50% {
        -ms-transform: translate(-20px, 20px);
        -webkit-transform: translate(-20px, 20px);
        transform: translate(-20px, 20px);
    }
}

@keyframes object_two {
    50% {
        -ms-transform: translate(-20px, 20px);
        -webkit-transform: translate(-20px, 20px);
        transform: translate(-20px, 20px);
    }
}



@-webkit-keyframes object_three {
    50% {
        -ms-transform: translate(20px, -20px);
        -webkit-transform: translate(20px, -20px);
        transform: translate(20px, -20px);
    }
}

@keyframes object_three {
    50% {
        -ms-transform: translate(20px, -20px);
        -webkit-transform: translate(20px, -20px);
        transform: translate(20px, -20px);
    }
}



@-webkit-keyframes object_four {
    50% {
        -ms-transform: translate(-20px, -20px);
        -webkit-transform: translate(-20px, -20px);
        transform: translate(-20px, -20px);
    }
}

@keyframes object_four {
    50% {
        -ms-transform: translate(-20px, -20px);
        -webkit-transform: translate(-20px, -20px);
        transform: translate(-20px, -20px);
    }
}




/*----------------------------------------
Navigation
----------------------------------------*/
 

.navbar-brand {
    padding: 0;
}

.navbar-header .navbar {
    padding: 0;

    -webkit-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    transition: all 800ms ease;
}
.logofm {
    margin-left: -120px;
}
.navbar-header .navbar.sticky {
    -webkit-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    transition: all 800ms ease;
}
.navbar-header .navbar.sticky .logofm {
    margin-left: -54px;
}
.navbar-header .navbar.sticky .logofm img {
    width: 200px;
    -webkit-transition: all 800ms ease;
    -ms-transition: all 800ms ease;
    -o-transition: all 800ms ease;
    -moz-transition: all 800ms ease;
    transition: all 800ms ease;
}
.navbar-header .navbar.sticky li a,
.navbar-header .navbar.sticky .search-box-btn {
    color: #171f3c;
}

.navbar-header .navbar.sticky {
    background-color: #ffffff;
    box-shadow: 0 8px 28px 2px rgba(61, 61, 61, .12);
}

.navbar-header ul li a.nav-link.btn-blue,
.navbar-header ul li a.nav-link.btn-putih {
    height: 45px;
    position: relative;
    line-height: 22px;
    top: 0px;
    margin: 0 0 0 30px;
    /*color: #fff !important;*/
}
.navbar-header .navbar.sticky li a {
    color: #ffffff;
    background-color: #f08b00;
}

.search-box-btn {
    position: relative;
    font-size: 14px;
    color: #42495b;
    margin-top: 0px;
    line-height: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    background: none;
}

.btn-outer .dropdown-menu {
    top: 50px;
    padding: 0px;
    background-color: #3e59ff;
    z-index: 9999999;
    width: 250px;
    left: -200px;
    border-radius: 0px;
    border-top: 3px solid #3e59ff;
}

.search-panel .form-container {
    padding: 25px 20px;
}

.search-panel .form-group {
    position: relative;
    margin: 0px;
}

.search-panel input[type="search"] {
    display: block;
    width: 100%;
    color: #fff;
    font-size: 14px;
    border: none;
    line-height: 24px;
    padding: 7px 40px 7px 15px;
    height: 40px;
    border-bottom: 1px solid #e0e0e0;
    background: transparent;
}

.search-panel input[type="search"]::placeholder,
.newsletter-bloc-inner .form-group .form-control::placeholder {
    color: #fff;
}

.search-panel .search-btn {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 40px;
    border: none;
    height: 40px;
    text-align: center;
    color: #fff;
    font-size: 12px;
    background: none;
    cursor: pointer;
}

.btn-outer .dropdown-toggle::after {
    display: none;
}

.btn-outer {
    padding: 15px 18px;
}

.navbar-header .navbar-nav li a {
    color: #3b455a;
    font-size: 15px;
    padding: 15px 15px;
    font-weight: 500;
    line-height: 50px;
}

.navbar-header .dark-navbar li a,
.dark-navbar .search-box-btn {
    color: #171f3c;
}
.navbar .dropdown:hover .dropdown-menu {
  display: block;
}
.navbar-header .navbar-nav .dropdown-menu a{
      padding: 5px 15px;
    line-height: 25px;  
}


/*----------------------------------------
Hero
----------------------------------------*/

.hero {
   padding-top: 180px;
    padding-bottom: 110px;
    position: relative;
}

.hero {
    background-image: url(../images/bg-home-ads.png);
    background-position-x: 40%;
   width: 100%;
   height: 730px;
    background-size: cover;
    background-repeat: no-repeat;
}

/*.hero:after {
    content: " ";
    position: absolute;
    background-image: url(../images/man.png);
    top: auto;
    width: 270px;
    height: 496px;
    left: 62%;
    right: 0;
    bottom: 0;
}*/

.hero-text {
    padding-top: 20px;
    padding-bottom: 40px;
}

.hero-text h2 {
    font-size: 50px;
    color: #fff;
    line-height: 65px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.45rem;
}
.hero-text h2 span {
    font-size: 50px;
    color: #fff;
    line-height: 65px;
    font-weight: normal;
}

.hero-text span {
    font-size: 35px;
    line-height: 55px;
    font-weight: 600;
    color: #fa6262;

}

.hero-text p {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 25px;
    line-height: 35px;
    font-weight: 300;
}

/*----------------------------------------
About
----------------------------------------*/

h2.title-head,
.video-bloc h2 {
    color: #0066b1;
    font-size: 35px;
    line-height: 45px;
    font-weight: 500;
    position: relative;
    margin-bottom: 40px;
    margin-left: 30%;
    top: 30%;
}

h2.title-head:before {

    top: -50px;
    left: -50px;
    width: 175px;
    height: 175px;
    content: " ";
    z-index: -1;
    position: absolute;
    background-size: contain;
    background-image: url(../images/headline.svg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.text-bloc p {
    margin-bottom: 30px;
}

/*----------------------------------------
Features
----------------------------------------*/


.title-h2 {
    font-size: 35px;
    color: #2a3a40;
    line-height: 46px;
    font-weight: 500;
}

.list-p li {
    position: relative;
    padding-left: 25px;
    color: #757384;
    line-height: 32px;
    font-weight: 600;
}

.list-p li:before {
    font-family: 'ElegantIcons';
    content: "\52";
    position: absolute;
    left: -5px;
    top: 0;
    color: #4582ff;
    display: inline-block;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
}


.video-bloc {
    position: relative;
    background-image: url(../images/bg-video.jpg);
    background-position: 100% 20%;
    background-size: cover;
    height: 550px;
}

.video-bloc h2 {
    margin-bottom: 20px !important;
}

.ply-btn {
    z-index: 999;
    position: absolute;
    top: 70%;
    left: 35%;
    transform: translate(50%, 50%);
}

.ply-btn img {
    width: 80px;
}

.text-video p{
    margin-bottom: 30px;
}

/*----------------------------------------
Service
----------------------------------------*/

.service-block {
    text-align: left;
    position: relative;
  
}

.service-block h3 {
    font-size: 18px;
    color: #3b455a;
    margin-top: 25px;
    margin-bottom: 10px;
    line-height: 25px;
}

.service-block img {
    width: 40px;
    margin-bottom: 25px;
}
.service-block h6 {
    color: #2a3a40;
}
.service-block p {
    margin-bottom: 0;
    font-size: 14px;
    color: #657e87;
    line-height: 24px;
}

.bgService {
    width:70px;
    height:70px;
    border-radius: 50%;
    background: rgb(254,254,254);
    background: -webkit-linear-gradient(36deg, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%);
    background:    -moz-linear-gradient(36deg, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%);
    background:     -ms-linear-gradient(36deg, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%);
    background:      -o-linear-gradient(36deg, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%);
    background: linear-gradient(36deg, rgba(254,254,254,1) 0%, rgba(247,247,247,1) 100%);
    padding: 30px 0px 0px 0px;
    margin-bottom: 20px;
}
.separator span {
    display: inline-block;
    height: 7px;
    border-radius: 2rem;
    background-color: #0066b1;
}
.separator span.large {
    width: 70px;
}
.separator span.medium {
    width: 30px;
}
.separator span.small {
    width: 7px;
}
.logo1,
.logo2,
.logo3,
.logo4,
.logo5,
.logo6,
.logo7,
.logo8,
.logo9,
.logo10,
.logo11,
.logo12 {
    position:inherit;
    display: block;
    float: left;
    max-width: 90px;
    margin: 0px 15px;
}
.logo1 {}
.logo2 {top:-25px;}
.logo3 {top:25px;}
.logo4 {top: -15px;}
.logo5 {top: 45px;}
.logo6 {top: -45px;}
.logo7 {}
.logo8 {top: -10px;}
.logo9 {top: 15px;}
.logo10 {}
.logo11 {top: 15px;}
.logo12 {top: -45px;}
/*----------------------------------------
Contact Email
----------------------------------------*/
#contakemail {}
#contakemail a.linkMail {
    font-size: 35px;
    color:#cc0839;
    line-height: 46px;
    font-weight: 900;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#contakemail a.linkMail:before {
    content:'';
    background-color: #f18c00;
    height: 25px;
    width: 459px;
    right: 125px;
    top: 277px;
    position: absolute;
    z-index: -1;
    display: inline;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#contakemail a.linkMail:hover {
    color: #fff;
    background-color: #f18c00;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#contakemail a.linkMail:hover::before,
#contakemail a.linkMail:visited::before {
    color: #fff;
    background-color: #cc0839;
    height: 45px;
    width: 459px;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
}
#contakform {
    background-image: url(../images/bg-kontakform.png);
    background-position: 50% 50%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    background-position-y: 0%;
}

#contakform h2 {
    font-size: 25px;
    color: #657e87;
    line-height: 46px;
    font-weight: 500;
    margin-bottom: 2.4rem;
    margin-top: 5%;
}
.btn-kirim {
    background-color:#cc0839;
    color:#fff;
}
#contakform .form-control {
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.1);
    /* height: 55px; */
    border-style: none;
    /* margin-bottom: 20px; */
    padding: 1rem;
}

/*----------------------------------------
Footer
----------------------------------------*/

.list-social {
    position: relative;
    text-align: center;

}

.list-social li {
    display: inline-block;
    margin-right: 10px;
}

.list-social a {
    background-color: #fff;
    width: 35px;
    color: #0b78bb;
    line-height: 35px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    padding: 0;
    border-radius: 100%;
    height: 35px;
}

.list-social a i {
    line-height: 35px;
}

.footer-warpper {
  padding: 100px 0 10px;
}
 
footer {
    position: relative;
    background-image: url(../images/bg-bottomfooter.png);
    width: 100%;
    background-size: 100%;
    background-position: center bottom;
    background-repeat: no-repeat;
}
footer {background-color: #0b78bb;}

.footer-top {
    padding-bottom: 50px;
}


.copyright p {
    margin: 0px auto;
    padding: 0px;
    color: #fff;
    font-size: 14px;
}


footer p.error-message {
    color: #e10438;
    margin-top: 5px;
    margin-bottom: 5px;
}

footer p.sucess-message {
    color: #4ec952;
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-inner span {
    line-height: 45px;
    font-size: 13px;

}

#scrollUp {
    background: #0b78bb;
    border-radius: 50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    bottom: 30px;
    color: #ffffff;
    height: 50px;
    font-size: 30px;
    line-height: 3;
    right: 30px;
    line-height: 50px;
    text-decoration: none;
    text-align: center;
    width: 50px;
}

.logo-footer img {
    margin-bottom: 25px;
}

.text-footer p {
    color: #637282;
}

.footer-top h5 {
    color: #3b455a;
    font-size: 16px;
}

.footer-top .list-menu a {
    line-height: 28px;
    color: #637282;
}

.list-contact li {
    color: #637282;
    line-height: 32px;
}


/*MOUSE*/
.mouse {
  display: block;
  margin: 0 auto;
  width: 26px;
  height: 46px;
  border-radius: 13px;
  border: 2px solid #fff;
  position: absolute;
  top: 80px;
  position: absolute;
  left: 50%;
  margin-left: -26px;
}
.mouse span {
  display: block;
  margin: 6px auto;
  width: 2px;
  height: 2px;
  border-radius: 4px;
  background: #fff;
  border: 4px solid transparent;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-name: scroll;
  animation-name: scroll;
}

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
/*MOUSE*/
